<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Username</Data></Cell>
        <Cell><Data ss:Type="String">Entry Date</Data></Cell>
        <Cell><Data ss:Type="String">Club</Data></Cell>
        <Cell><Data ss:Type="String">Couples</Data></Cell>
        <Cell><Data ss:Type="String">Mobile</Data></Cell>
        <Cell><Data ss:Type="String">Status</Data></Cell>
      </Row>
      <% @guestlists.each do |guestlist| %>
          <Row>
            <Cell><Data ss:Type="Number"><%= guestlist.id %></Data></Cell>
            <Cell><Data ss:Type="String"><%= User.find(guestlist.user_id).name %></Data></Cell>
            <Cell><Data ss:Type="String"><%= guestlist.entry_date %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= guestlist.club.title %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= guestlist.couples %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= guestlist.mobile %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= guestlist.status %></Data></Cell>
          </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>