<table border="1">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Entry Date</th>
    <th>Club</th>
    <th>Couples</th>
    <th>Mobile</th>
    <th>Status</th>

  </tr>
  <% @guestlists.each do |guestlist| %>
      <tr>
        <td><%= guestlist.id %></td>
        <td><%= User.find(guestlist.user_id).name %></td>
        <td><%= guestlist.entry_date %></td>
        <td><%= guestlist.club.title %></td>
        <td><%=guestlist.couples %></td>
        <td><%=guestlist.mobile %></td>
        <td><%=get_status(guestlist.status) %></td>

      </tr>
  <% end %>
</table>