<head xmlns="http://www.w3.org/1999/html">
  <meta name="viewport" content="height=device-height, width=device-width, user-scalable=0, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" >
</head>
<style type="text/css">
  /*html select{ width:60%; height:50%; font-size:14px; display: block; margin: 0 auto; text-align:center; }*/
  /*html:not(.browser-android) select { width:60%; height:9%; font-size:14px; display: block; border-color:#575a59; border-style:solid; border-width:6px; margin: 0 auto; text-align:center;*/
  }

</style>
<body">
<div>
  <div class='header-error'>
    <% if @guestlist.errors.any? %>
        <ul>
          <% @guestlist.errors.full_messages.each do |msg| %>
              <li><%=msg%></li>
          <% end%>
        </ul>
    <% end%>
  </div>
  <div class="top">
    <div class="logo-mob"><%= image_tag("logo.png") %></div>

    <%= form_for(@guestlist, :html => { role: "form"}) do |f| %>
        <% if logged_in?%>
            <% username = current_user.name %>
            <% mobile = current_user.mobile%>
        <% end %>
        <div class="form-mob">
           <input type="text" placeholder="Title", value=<%=username%>>
        </div>
        <div class="form-mob">
          <select name=<%=:club_id%> class="select-mob">
            <% Club.all.each do  |c|%>
                <option value=<%=c.id%> selected="selected"><%=c.title%></option>
            <%end%>
          </select>
        </div>
        <div class="form-mob">
          <%= f.date_field  :entry_date, :value => Time.now.strftime('%Y-%m-%d'), :placeholder=>"Date", autofocus:false, :readonly => true %>
        </div>
        <div class="form-mob">
          <%= f.phone_field :couples, class:"", placeholder:"Couples",autofocus:true %>
        </div>
        <div class="form-mob">
          <%= f.phone_field :mobile, class:"", placeholder:"Mobile",autofocus:true, :value=>mobile %>
        </div>
        <div class="form-mob">
          <%= f.submit "Submit", class:"submit-mob" %>
        </div>
    <% end %>
  </div>


</div>
</body>

<script type="text/javascript">
  $(function () {
//    $('#datetimepicker').datepicker({ startDate: "dateToday",
//      format: 'dd-MM-yyyy' , daysOfWeekDisabled: [0,1,2,4], todayHighlight: true
//    });
  });

</script>
