<head>
<meta charset="utf-8">
  <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.1/css/datepicker.css" rel="stylesheet"/>
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.1/js/bootstrap-datepicker.js"></script>
  <!-- include your less or built css files  -->
  <!--
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.css" rel="stylesheet"/>

  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.js"></script>
  bootstrap-datetimepicker-build.less will pull in "../bootstrap/variables.less" and "bootstrap-datetimepicker.less";
  or
  <link rel="stylesheet" href="/Content/bootstrap-datetimepicker.css" />
  -->
</head>
<body bgcolor="black">
  <div class="container-home">
    <div class='header-error'>
      <% if @guestlist.errors.any? %>
          <ul>
              <% @guestlist.errors.full_messages.each do |msg| %>
                  <li><%=msg%></li>
              <% end%>
          </ul>
      <% end%>
    </div>
      <div class="mid-form" style="background-image: asset-url('image1.jpg')">

        <%= form_for(@guestlist, :html => {class: "book-form", role: "form"}) do |f| %>
            <% if logged_in?%>
            <% username = current_user.username %>
            <% end %>
          <input type="text" placeholder="Title", value=<%=username%>></input>
          <%= f.collection_select :club_id, Club.order(:title),:id,:title, include_blank: false, html_options:{:class => 'select-custom'} %>
          <%= f.text_field :entry_date, :id => 'datetimepicker', placeholder:"Date",autofocus:false %>
          <%= f.text_field :couples, class:"",placeholder:"Couples",autofocus:true %>
          <%= f.text_field :mobile, class:"",placeholder:"Mobile",autofocus:true %>
          <%= f.submit "Submit" %>
      <% end %>
      </div>

  </div>
</body>

<script type="text/javascript">
  $(function () {
    $('#datetimepicker').datepicker({ startDate: "dateToday",
      format: 'dd-MM-yyyy' , daysOfWeekDisabled: [0,1,2,4], todayHighlight: true
    });
  });

</script>
