<div align="center">
  <!--<p><% link_to 'Create new club',new_admin_club_path%></p>-->
  <div class="content">
    <table class="table">
      <tr>
        <th>User Id.</th>
        <th>Username</th>
        <th>Email</th>
        <th>AutoAccept</th>
        <th>Admin</th>
      </tr>
      <% obj.each do |user| %>
          <%if user.uid.blank?
          url = "https://facebook.com/"
          else
          url = "https://facebook.com/"+user.uid
          end%>
          <tr>
            <td><%=user.id%></td>
            <td><%=link_to user.username, url,:target => '_blank'%></td>
            <td><%=user.email%></td>
            <td><%=user.autoaccept%></td>
            <td><%=user.admin%></td>
            <td><%= link_to "Edit",edit_admin_user_path(user)%></td>
            <td><%= link_to "Delete",admin_user_path(user),method: :delete, data: {confirm: 'Are you sure?'}%></td>
          </tr>
      <% end %>
    </table>
  </div>
</div>