<h1 align="center"><%=@user.name%></h1>
<div align="center">
  <p>
    Email: <%=@user.email %><br/>
    Mobile: <%=@user.mobile %><br/>
    Gender: <%=@user.gender %><br/>
    Birthday: <%=@user.birthdate %><br/>

    Total entries count: <%=@user.guestlists.count %>
    <%= render 'admin/guestlists/guestlist', js:admin_user_url(@user, :format => :json)%>

  </p>