<!DOCTYPE html>
<html>
<head>
  <title>Mumbai Guestlist</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body bgcolor="black">
<% if is_namespace_admin? %>
  <%= render 'layouts/navigation'%>
<% else %>
    <% if !mobile? %>
  <%= render 'layouts/clientnav'%>
    <% end %>
<% end %>
<%= render 'layouts/messages'%>
<div class="container">
  <%= yield %>
    <% if !is_namespace_admin? && !mobile?%>
        <div class="logo"><a href="<%=root_path%>"><%= image_tag("logo.png") %></a></div>
    <%end%>
</div>
<%= render 'layouts/footer'%>
<%= debug(params) if Rails.env.development?%>
</body>
</html>
